*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

::selection{
    color: #000;
    background: #fff;
}

nav{
    position: fixed;
    background: #1b1b1b;
    width: 100%;
    padding: 12px 0;
    z-index: 12;
}

nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.menu ul{
    display: inline-flex;
}

.menu ul li{
    list-style: none;
    margin-left: 8px;
}

.menu ul li:first-child{
    margin-left: 0px;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease;
}