*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

::selection{
    color: #000;
    background: #fff;
}

nav{
    position: fixed;
    background: #1b1b1b;
    width: 100%;
    padding: 12px 0;
    z-index: 12;
}

nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a{
    
}